@using System.Threading.Tasks
@model Bussiness.Models.Employee
@{
    ViewBag.Title = "Delete Employee";
}
<br/>
<div class="row">
    <div class="col-sm-6">
        <form asp-controller="Employee" asp-action="Delete" method="POST">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" disabled="disabled" />
            </div>
            <button class="btn btn-default">Delete</button>
        </form>        
    </div>
</div>
