@using System.Reflection.Metadata
@model IEnumerable<Bussiness.Models.Employee>
@{
    ViewBag.Title = "Employees";
}

@{
    var i = 0;
    var ItemCountPerRow = 3;
}
   @foreach (var emp in Model)
    {
       i++;
       if (i == 1)
       {

           @:<div class="row">
       }
                            
       <div class="col-lg-4">
            <div calss="row">
                <div class="col-lg-6">
                    <label class="info">@emp.Name</label>
                </div>
                <div class="col-lg-6">
                    <label class="warning">@emp.Address</label>
                </div>
            </div>
       </div>
                          
       if (i == ItemCountPerRow)
       {
           i = 0;
           @:</div>         
       }
   }



